
@{
    ViewBag.Title = "All";
}


<div class="container-fluid bg-4 text-center">
    <h1 style="color: maroon"><b>Hustler Mowers</b></h1><br>
    <div class="col-sm-6">
        <a href="Raptor" style="color:maroon" ;>Raptor</a>
        <a href="Raptor"> <img src="~/Content/Images/Raptor/Raptor.png" class="img-responsive" style="width:100%" alt="Image"> </a>
    </div>
    <div class="col-sm-6">
        <a href="RaptorFlipUp" style="color: maroon">Raptor  Flip Up</a>
        <a href="RaptorFlipUp">  <img src="~/Content/Images/RaptorFlipUp/RaptorFlip-Up_1.png" class="img-responsive" style="width:100%" alt="Image">  </a>
    </div>
</div>

<style>
    .col-lg-6{
        font-size:x-large
    }
</style>