@{
    ViewBag.Title = "Contact Information";
}

<div class="col-lg-12 text-center">
    <h2>@ViewBag.Title</h2>
    <br />
</div>

<div class="row">
    <div class="col-md-4 col-lg-offset-1">
        <strong>Cell: </strong> 641-295-3036 <br />
        <strong>Phone: </strong> 641-637-2732
        <br />
        <br />

        <address>
            <strong>Email Address:</strong>   <a href="mailto:PhilsAutoStop@hotmail.com">PhilsAutoStop@hotmail.com</a><br />
        </address>
        <address>
            <strong>Address</strong>
            <br />
            202 E. Market St.<br />
            New Sharon, IA <br />
            50207<br />
        </address>
    </div>

    <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.5992765577885!2d-92.65496318417563!3d41.46960587925666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87ef44f3422ddb7d%3A0xdc4b4c01ff5e5a97!2sPhil&#39;s+Auto+Stop!5e0!3m2!1sen!2sus!4v1477682186787"
                    width="600" height="500"></iframe>
        </div>
    </div>
</div>