@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:maroon">Hustler Mowers</h2>
        <p>
            Check out the wide variety of Hustler mowers we have available. We have a mower for every yard. Financing available!
        </p>
        <p><a class="btn btn-default" href="../Mower/All">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:maroon">Used Cars</h2>
        <p>Looking for a great deal on a used car? Check out what we have available on our used cars page!</p>
        <p><a class="btn btn-default" href="../Cars/All">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:maroon">Find us</h2>
        <p>Looking for a used car, new mower, or your car needs some work? Come see us in New Sharon, Iowa!</p>
        <p><a class="btn btn-default" href="../Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>